.Zadatak {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  border: 1px solid #313131;
  margin: 0.3rem;
  padding: 0rem 1rem;
  font-weight: 400;
}

.Zadatak:hover {
  border: 1px solid red;
}

.Zadatak-gumbi {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.Zadatak-butonjara {
  border: 1px solid transparent;
  font-size: 1.4rem;
  margin: 0;
  padding: 0.5rem;
  background-color: transparent;
  color: #313131;
  cursor: pointer;
}

.Zadatak-butonjara:hover {
  color: red;
  border: 1px solid transparent;
}

.Zadatak-butonjara:focus {
  outline: none;
}
